# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/

# Logs
*.log

# Environment variables / secrets
.env
.env.*  

# Compiled or sensitive files
BigSister_Compiled_Code.txt
messages.json

# OS files
.DS_Store
Thumbs.db
database.db